* { padding: 0; margin: 0; color: #00460A; }
li { list-style: none; }
a { text-decoration: none; }

@font-face{
    font-family:'Raleway'; 
    src: local('Raleway'),
        url('Raleway.eot');

        font-family:'Noto Sans KR'; 
        src: local('Noto Sans KR'),
            url('Noto Sans KR.eot');
}

.raleway { font-family: 'Raleway', sans-serif; font-weight: 500; }
.noto { font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 15pt; }
.noto2 { font-family: 'Noto Sans KR', sans-serif; }

#wrap { width: 100%; overflow-x: hidden; }

/* 헤더 부분 */
#header { width: 1920px; height: 125px;  background-color: #00460A; position: fixed; z-index: 500; }
.logo { width:220px; height: 135px; float: left; }
.logo a img { margin-top: 20px; margin-left: 25px; }

.nav { width: 1480px; height: 135px; float: left; }
.nav > ul > li { font-size: 15pt; float: left; width: 250px; margin-left: 110px; text-align: center; }
.nav > ul > li > a { display: block; padding: 50px; color: white; }

.navline { border: 0.03px solid #50825A; }

.submenu { display: none; z-index: 100; box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; position: relative; }
.submenu ul li { background-color: white; }
.submenu ul li a { display: block; padding: 20px 25px 20px 25px ; }
.submenu ul li a:hover { background-color: #00460A; color: white; }

.login { width: 200px !important; height: 135px; float: left; } 
.login p { font-size: 13pt; float: right; margin-top: 20px; margin-right: 20px; color: white; }
.login { width: 220px; height: 135px; float: left; } 
.login p { font-size: 13pt; float: right; margin-top: 20px; margin-right: 20px; }
#section1 { width: 100%; height: 955px; padding-top: 180px; }
#section1 > img { margin-top: 70px; }
.join { width: 203px; height: 53px; margin: 0 auto; margin-top: 70px; }

#section2 { width: 1920px; height: 1080px; }
#section2 > img {  margin-top: 40px; margin-left: 395px; }

/* 풋터 부분*/
#footer { width: 1920px; height: 180px; font-weight: 200; background-color: #00460A; }
.fot1 { width: 1920px; height: 85px; }
.fottext ul { padding-left: 50px; padding-top: 30px; }
.fottext ul a { display: block; float: left; font-size: 13px; padding: 10px; }
.fottext ul a li { color: white; }
.foticon { float: right; margin-right: 40px; }
.foticon a { padding-right: 20px; }

.line { width: 1820px; height: 0.3px; margin-left: 50px; background-color: #50825A; }

.fot2 { width: 1920px; height: 85px; }
.text { padding-top: 20px; width: 1000px; height: 70px; float: left; }
.text ul li { color: white; font-size: 13px; line-height: 30px; margin-left: 55px; }

.fotlogo { float: right; margin-top: 30px; margin-right: 55px; }