* { padding: 0; margin: 0; color: #00460A; }
li { list-style: none; }
a { text-decoration: none; }

@font-face{
    font-family:'Raleway'; 
    src: local('Raleway'),
        url('Raleway.eot'),
        url('Raleway.woff') format('woff'),
        url('Raleway.ttf') format('truetype');

        font-family:'Noto Sans KR'; 
        src: local('Noto Sans KR'),
            url('Noto Sans KR.eot'),
            url('Noto Sans KR.woff') format('woff'),
            url('Noto Sans KR.ttf') format('truetype');
}

.raleway { font-family: 'Raleway', sans-serif; font-weight: 500; }
.noto { font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 15pt; }
.noto2 { font-family: 'Noto Sans KR', sans-serif; }

#wrap { width: 1920px; overflow: hidden; } 

/* 헤더 부분 */
#header { width: 1920px; height: 135px;  }
.logo { width:220px; height: 135px; float: left; }
.logo a { }
.logo a img { margin-top: 25px; margin-left: 25px; }

.nav { width: 1480px; height: 135px; float: left; }
.nav ul {  }
.nav > ul > li { font-size: 15pt; float: left; width: 250px; margin-left: 110px; text-align: center; }
.nav > ul > li > a { display: block; padding: 50px; }

.navline { border: 0.03px solid #50825A; }

.submenu { display: none; z-index: 100; }
.submenu ul { }
.submenu ul li { background-color: white; }
.submenu ul li a { display: block; padding: 20px 25px 20px 25px ; }
.submenu ul li a:hover { background-color: #00460A; color: white; }

.login { width: 220px; height: 135px; float: left; } 
.login p { font-size: 13pt; float: right; margin-top: 20px; margin-right: 20px; }

/* 슬라이드 부분 */
#slide { position: relative;  width: 1920px; height: 730px; z-index: -100; }
.slideimg { width: 1920px; height: 730px; }
.slidemain { position: absolute; top: 0; width: 1920px; height: 730px; }

/* 콘텐트 부분 */
#content { width: 1920px; height: 1280px; }
.con1 img { margin-top: 110px; margin-left: 260px; } 
.co1 { width: 1217px; height: 266px;  margin-top: 30px; margin-left: 345px; position: relative; z-index: -100; }
.co1 img {  position: absolute; top: 0; left: 0; }

.number { width: 200px; height: 50px; float: right; margin-right: 350px; margin-top: -40px; }
.left { width: 20; height: 50px; float: left; margin-right: 20px; z-index: 100; }
.right { width: 20; height: 50px; float: left; margin-left: 20px; z-index: 100; }
.number .num { position: relative; width: 100px; height: 50px; float: left; }
.number .num img { position: absolute; top: 0; left: 0; }

.co2 { width: 1207px; height: 600px; margin-top: 10px; margin-left: 345px; position: relative; }
.co2 img { position: absolute; top: 0; left: 0; } 


#store { width: 1920px; height: 1140px; }
.sto1 img { margin-top: 40px; margin-left: 260px; } 
.sto2 { margin-left: 260px; margin-top: 40px; position: relative; }
.storebtn { position: absolute; top: 208px; left: 360px; z-index: 10; }

/* 풋터 부분*/
#footer { width: 1920px; height: 180px; font-weight: 200; background-color: #00460A; }
.fot1 { width: 1920px; height: 85px; }
.fottext ul { padding-left: 50px; padding-top: 30px; }
.fottext ul a { display: block; float: left; font-size: 15px; padding: 10px; }
.fottext ul a li { color: white; }
.foticon { float: right; margin-right: 40px; }
.foticon a { padding-right: 20px; }
.foticon a img { }

.line { width: 1820px; height: 0.3px; margin-left: 50px; background-color: #50825A; }

.fot2 { width: 1920px; height: 85px; }
.text { padding-top: 20px; width: 1000px; height: 70px; float: left; }
.text ul li { color: white; font-size: 13px; line-height: 30px; margin-left: 55px; }

.fotlogo { float: right; margin-top: 30px; margin-right: 55px; }
.fotlogo img { }
